/* common elements */
body {
  width: 100%;
}
*:focus {
  outline: none;
}
input {
  /* input要素全部に対して装飾 */
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd); /* グラデーション */
  border: 1px solid #3c7fb1; /* 枠線 */
  border-radius: 0.3em;      /* 角丸 */
}
input:hover {
  background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
  border: 1px solid #2c628b;
}
input:active {
  background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
  border: 1px solid skyblue;
}
img {
  float: left;
  width: 120px;
  height: 100px;
}

/* reviewform.haml */
header {
  margin: 0 auto;
  padding: 0 30px 0 30px;
  height: 100px;
  background-color:#B1F9D0;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: skyblue;
  font-weight: 600;
  font-size: 40px;
  line-height: 100px;
}
.user {
  float: right;
  padding: 5px 0 15px;
  max-width: 220px;
  line-height: 40px;
}
.username {
  font-size: 18px;
}
ul.items {
  float: right;
}
li.item {
  float: right;
}
li.item:last-child {
  padding-right: 20px;
}
.logout_btn {
  float: left;
  width: 100px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.logout_btn:hover {
  background: #ea352d;
  border: 1px solid #ea352d;
  opacity: 0.4;
}
.edit_btn {
  float: left;
  width: 100px;
  background: #00FF00;
  border: 1px solid #00FF00;
  color: #fff;
}
.edit_btn:hover {
  background: #00FF00;
  border: 1px solid #00FF00;
  opacity: 0.4;
}
h2 {
  padding: 40px 0;
  color: #FFFF88;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
ul.errors {
  padding: 30px 0;
  font-size: 28px;
  color: red;
}
.movie-review-form {
  text-align: center;
}
textarea {
  resize: none;
  font-size: 30px;
}
.movie-review-submit {
  padding: 40px 0;
}

/* results.haml */
.movie-review {
  margin: 0 auto;
  width: 80%;
  font-size: 24px;
  color: #333;
}
.movie-review-title {
  padding: 30px 0;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #333;
}
.prediction-title {
  padding: 30px 0;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.prediction {
  text-align: center;
  font-size: 26px;
}
.feedback {
  padding: 30px 0;
  text-align: center;
}
.feedback-submit {
  text-align: center;
}
.correct_btn {
  margin-right: 15px;
  width: 100px;
  background:#FF3333;
  border: 1px solid#FF3333;
  color: #fff;
}
.correct_btn:hover {
  background:#FF3333;
  border: 1px solid #FF3333;
  opacity: 0.4;
}
.incorrect_btn {
  margin-left: 15px;
  width: 100px;
  background:#0000CC;
  border: 1px solid #0000CC;
  color: #fff;
}
.incorrect_btn:hover {
  background:#0000CC;
  border: 1px solid #0000CC;
  opacity: 0.4;
}
.feedback-submit_btn {
  text-align: center;
  width: 230px;
}

/* thanks.haml */
.thanks-submit {
  text-align: center;
  padding: 30px 0;
}
.thanks-submit_btn {
  width: 250px;
  height: 80px;
  text-align: center;
  font-size: 22px;
}
.thanks-title {
  text-align: center;
  padding: 300px 0 30px;
  font-size: 40px;
  font-weight: bold;
  color: #ea352d;
}

a {
  color: #58bff6;
  text-decoration: none;
}
a:hover{
  color:#aaa;
}
.pull-left {
  float: left;
}
.pull-right {
  /* float: right; */
}
.pull-center {
  padding: 0 30%;
}
.form-item {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.form-label {
  position: absolute;
  left: 450px;
  top: 14px;
  transition: all .4s ease;
  color: #bbb;
}
input.form-control {
  color:#8a8a8a;
  display: block;
  width: 40%;
  height: 44px;
  padding: 5px 1%;
  margin: 0 auto;
  border:1px solid #ccc;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff !important;
  font-family:'HelveticaNeue','Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}

input{transition: all .2s ease;}

input[type="submit"].register{
  /* float:right; */
  position: relative;
  left: calc(100% - 112px);
  width: 112px;
  height: 37px;
  margin: 0 auto;
  text-align: center;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #55b1df;
  border:1px solid #55b1df;
  border:none;
  color: #fff;
  font-weight: bold;
}
input[type="submit"].register:hover{background-color: #fff; border:1px solid #55b1df; color:#55b1df; cursor:pointer;}
input[type="submit"].register:focus{outline: none;}