%html
  %head
    %title Movie Classification
    %link rel="stylesheet" type=text/css href="/static/reset.css"
    %link rel="stylesheet" type=text/css href="/static/style.css"
  %body
    %h3
      Thank you for your feedback!
    %div id='button'
      %form action="/"
        %input type=submit value='Submit another review'