%html
  %head
    %title Movie Classification
    %link rel="stylesheet" type=text/css href="/static/reset.css"
    %link rel="stylesheet" type=text/css href="/static/style.css"
  %body
    %div style="background: url('/static/images/background-thanks.png') no-repeat;background-size: cover;height: 788px;"
      %h3.thanks-title
        Thank you for your feedback!
      %div id='button'
        %form.thanks-submit action="/"
          %input.thanks-submit_btn type=submit value='Submit another review'